{% if pagination.pages > 0 %}
  <nav role="navigation" class=" flex justify-center my-8">
    {% if pagination.previous %}
        <a href=" {{ pagination.previous.url }}" class="border border-gray-600 text-gray-600  hover:bg-gray-600 hover:text-white px-5 py-3 rounded-sm font-medium"> {{ pagination.previous.title }}</a>  
    {% endif %}
    {% for part in pagination.parts %}
        <a href=" {{ part.url }}" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-5 py-3 rounded-sm font-medium"> {{ part.title }}</a>  
    {% endfor %}
    {% if pagination.next %}
        <a href=" {{ pagination.next.url }}" class="border border-gray-600 text-gray-600  hover:bg-gray-800 hover:text-white px-5 py-3 rounded-sm font-medium"> {{ pagination.next.title }}</a> 
    {% endif %}
   
     
  </nav>
{% endif %}